* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: url("images/stripes.png"), url("images/background.jpg");
	background-color: #535A6B;
	background-repeat: repeat-x, no-repeat;
	background-size: auto, cover;
	color: #ffffff;
	font-family: helvetica, sans-serif;
}
section {
	margin: 300px 0 0 100px;
}
hr {
	border-color: #FD6E6E;
	width: 80px;
}
